html, body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

body {
    background: #fdfdfd;
}

#tracking-table span.description {
    font-size: .8em;
    display: block;
    color: #7b7b7b;
}

td.actions,
.ui.table th.actions {
    text-align: right;
}

/* Override semantic UI*/

.ui.form textarea, .ui.textarea {
    height: 8em;
}

.ui.modal>.content {
    background-color: #ffffff;
}

.ui.error.message a {
    color: #A95252;
    font-weight: bold;
}

/* Override datepicker */

.xdsoft_datetimepicker {
    box-shadow: none;
    font-family: inherit;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker
.xdsoft_time_box >div >div.xdsoft_current {
    background: #00968F;
}